Repository tl-its-umich-edu/course-inventory, pull requests merged in 2020-06, with the labels that each got.

#187 Switching from names over to ids for external tools
  README.md
  config/env_blank.hjson
  config/env_schema.hjson
  lti_placements/canvas_placements.py
Labels: Canvas, LTI, 🐛 bug

#185 Implement JobError custom exception (#184)
  course_inventory/inventory.py
  run_jobs.py
  vocab.py
Labels: Canvas, 📈 enhancement

#189 Fix MiVideo course ID conversion bug (#188)
  mivideo/mivideo_extract.py
Labels: Priority, 🐛 bug, 📹 MiVideo

#192 Update to Python 3.8, use slim image Fixes #191
  Dockerfile
Labels: dependencies, docker

#194 define MiVideo table relationships (#183)
  db/migrations/0021.add_mivideo_fk.py
Labels: 📹 MiVideo, 🔞 minor, 🥞 database

#196 Update readme to just say Python 3
  README.md
Labels: 📖 documentation

#190 Improve MiVideo course ID parsing (#150)
  mivideo/mivideo_extract.py
Labels: :warning: priority, 📹 MiVideo

#195 Create a lookup table for LTI placement types (#193)
  README.md
  config/env_blank.hjson
  config/env_schema.hjson
  db/db_creator.py
  db/migrations/0022.add_lti_type.py
  lti_placements/canvas_placements.py
Labels: Canvas, LTI, 📈 enhancement

#199 Add relax_course_name migration (#198)
  db/migrations/0023.relax_course_name.py
Labels: Canvas, 🐛 bug, 🥞 database
